.update-panel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}

.update-container{

  .update-box {
    padding: 80px 60px 80px 60px;
    height: fit-content;

    form {
      width: 100%;
      height: 100%;
      background-color: #EEF0E5;
      outline: none;
      border: none;
    }
  }
}

.base-layout{
  position: relative;
}

.account {
  .main-content {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;

    .edit-function {
      width: 30%;
      .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;

        img {
          width: 50%;
        }
      }

      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          margin-bottom: 20px;
          border-radius: 18px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 18px 0px;
        }
      }
    }

    .user-info {
      width: 100%;
      margin-left: 40px;
      display: flex;
      justify-content: space-around;
      border-left: solid 1px #000;


      .left-col {
        .info-group {
          margin-bottom: 4px;
          .group-title {
            margin-bottom: 10px;
            color: #2f80ed;
            font-weight: 700;
            font-size: 20px;
          }

          .info {
            .info-item {

              .info-title {
                font-weight: 700;
                color: #505050;
              }
              .info-content {
              }
            }
          }
        }
      }

      .right-col {
        .info-group {
          margin-bottom: 20px;
          .group-title {
            margin-bottom: 10px;
            color: #2f80ed;
            font-weight: 700;
            font-size: 20px;
          }

          .info {
            .info-item {
              .info-title {
                font-weight: 700;
                color: #505050;
              }
              .info-content {
              }
            }
          }
        }
      }
    }
  }
}
