.category {
  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    .add-button {
      display: flex;
      border-radius: 50px;
      width: 90px;
      height: 90px;
      position: absolute;
      right: 10vh;
      bottom: 1vh;
      border: 1px solid #000;
      background: #fff;
      align-items: center;
      justify-content: center;
      position: fixed;
    }
    .add-button:hover {
      background: #d9d9d9;
    }
    // .add-button {
    //     display: flex;
    //     position: absolute;
    //     border-radius: 36px;
    //     width: 40px;
    //     height: 40px;
    //     top: 50%;
    //     right: 0;
    //     border: 1px solid #000;
    //     background: #fff;
    //     align-items: center;
    //     justify-content: center;
    //     position:fixed;
    // }
    .title {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 16px;
    }
    .category-list {
      width: 100%;
      border-radius: 25px;
      padding: 16px;
      background: #d9d9d9;
      overflow-y: scroll;
      max-height: 90vh;
      .item {
        border-radius: 16px;
        display: flex;
        padding: 8px;
        margin: 8px;
        background: white;
        align-items: center;
        .item-img {
          border-radius: 16px;
          background: #d9d9d9;
          width: 128px;
          height: 128px;
        }
        .item-name {
          margin-left: 8px;
        }
      }
    }
  }
}

DialogModal{
  .label{
    justify-content: center;
  }
  .imagelabel{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  .add-category,input[type="text"]{
    width: 611px;
    height: 54px;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 15px 0 15px 15px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  input[type="file"] {
    display: none;
  } 
} 
